

body{
    overflow-x: hidden;
    background:var(--bg-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(175, 175, 175);
}

.main{
    margin: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    display: block;
}

.products-slider:first-child{
    margin-bottom:2rem;
}

.products-slider .box{
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    height:40rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    background: url(image/Snapins.ai_475410118_18292571464240376_765681141543133019_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.products-slider .box.box2{
    background: url(image/Snapins.ai_418996533_906083961130213_3524574381348402824_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box3{
    background: url(image/Snapins.ai_482507212_18295647517240376_4688557559050602665_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 50rem;
}

.products-slider .box.box4{
    background: url(image/Snapins.ai_461608590_3846039742308830_5779840486311643927_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box5{
    background: url(image/Snapins.ai_459189319_1270223664322385_4826197469752041016_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box6{
    background: url(image/Snapins.ai_463194571_7804491606318688_6432902706684591750_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box7{
    background: url(image/Snapins.ai_482768635_18296352436240376_8619136035787721355_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box8{
    background: url(image/Snapins.ai_470000632_578609274761889_1325745465710429878_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box9{
    background: url(image/Snapins.ai_413262313_381487977896180_5381075268112272992_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box10{
    background: url(image/IMG_7963.JPG), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box11{
    background: url(image/IMG_7962.JPG), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box.box12{
    background: url(image/IMG_8088.JPG), no-repeat;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.products-slider .box:hover{
    outline-offset: 0rem;
    outline: var(--outline-hover);
}


.products-slider .box .content{
    position: absolute;
    bottom: 0px;
    right: 0;
    opacity: 0;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.315);
    width: 100%;
    padding: 10px;
    margin: 0 auto;
    height: 40px;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.products-slider .box:hover .content{
    opacity: 1;
    height: auto;
    padding: 20px;
    transition: all .3s ease-in-out ;
}

.products-slider .box .content h3{
    font-size: 2rem;
    font-weight: 300;
    padding: 1px;
}

.products-slider .box img{
    height: 20rem;
}

.products-slider .box  h3{
    font-size: 2.5rem;
    color: white;
}

.products-slider .box  .price{
    font-size: 2rem;
    color:white;
    padding: .5rem 0;
}

.products-slider .box  i{
    font-size: 1.5rem;
    color: white;
    padding: .5rem 0;
}

.number{
    display: flex;
    justify-content: right;
    font-size: 1.3rem;
}

.contact{
    padding: 50px;
    min-height: auto;
    padding-bottom: 7rem;
    background: url(image/WhatsApp\ Image\ 2025-04-08\ at\ 03.02.19_aa7ffd4b.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    background-size: cover;
    
}

.contact form{
    position: relative;
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field{
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input, 
.contact form  .textarea-field textarea{
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border: .2rem solid white;
}

.contact form .input-box .input-field input::placeholder, 
.contact form  .textarea-field textarea::placeholder{
    color: var(--text-color);
}

.contact form .focus{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}

.contact form .input-box .input-field input:focus~.focus, 
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
    width: 100%;
}

.contact form .textarea-field{
    position: relative;
    margin: .8rem 0 2.7rem; 
    display: flex;
}

.contact form .textarea-field textarea{
    resize: none;
}

.contact form .btn-box.btns .btn{
    cursor: pointer;
    font-size: 1.5rem;
    border: solid white 2px;
    color: aliceblue;
    transition: all .5s;
    &:hover{
        background-color: white;
        color: black;
    }
}

.btn1{
    cursor: pointer;
    font-size: 1.5rem;
    border: solid white 2px;
    color: aliceblue;
    transition: all .5s;
    padding: 6px;
    border-radius: 10px;
    &:hover{
        background-color: white;
        color: black;
    }
}

@media (max-width:600px) {
    .products-slider .box.box3{
        background: url(image/Snapins.ai_482507212_18295647517240376_4688557559050602665_n_1080.jpg), no-repeat;
        background-position: left;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 30rem;
    }
}

.btn{
    font-size: 1.7rem;
    color: blue;
}