.products-slider .box.box3{
    background: url(image/IMG_1129.JPG), no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.products-slider .box.box5{
    background: url(image/IMG_1134.JPG), no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.products-slider .box.box6{
    background: url(image/IMG_1130.JPG), no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.products-slider .box.box7{
    background: url(image/Snapins.ai_483305205_18296352466240376_8743820469429773842_n_1080.jpg), no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.products-slider .box.box8{
    background: url(image/IMG_1002.JPG), no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.products-slider .box.box11{
    background: url(image/IMG_7962.JPG), no-repeat;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

