
.trx_popup {
	-webkit-animation-name: fadeIn_popup;
	animation-name: fadeIn_popup;
}
.trx_popup.close {
	-webkit-animation-name: fadeOut_popup;
	animation-name: fadeOut_popup;
}
/* Custom styles
*******************************/
